h1 {
    color: red;
}

main {
    display: flex;
}

#list {
    flex: 3;
}

#foerm {
    flex: 2;
}

#iImportant {
    font-size: 25px;
    cursor: pointer;
}

#iImportant.fas {
    font-size: 25px;
    color: rgb(0, 0, 8);
    cursor: pointer;
}
.task {
    padding: 8px 15px;
    border-radius: 5px;
    border: 1px solid rgb(209, 209, 209);
    background-color: rgba(243, 243, 243, 0.85);
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    box-shadow: 0 1px 2px 2px rgb(91 47 96);
}
.task .info {
    flex: 4;
    padding-top: 15px;
}
.task .info .h5 {
    margin-bottom: 0;
}
.task .date {
    flex: 1;
    text-align: center;
}
.task .extra {
    flex: 2;
    text-align: center;
}
.task .extra label {
    display: block;
}
.task button {
    flex: 1;
}